@import "../../../styles/variables";
@import "../../../styles/buttons";

.wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 28px;
  @media screen and (min-width: 768px) {
    padding: 40px 70px;
  }
  .imgWrapper {
    position: relative;
    width: 120px;
    height: 12 0px;
    margin: 0px auto 20px;
    @media screen and (min-width: 768px) {
      width: 150px;
      height: 150px;
      margin-bottom: 16px;
    }
  }
  .img {
    border-radius: 50%;
  }
  .cardTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 1.33;
    }
  }
  .starWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 20px;
    .star {
      width: 16px;
      height: 16px;
      color: $color-primary-transparent;
      &.active {
        color: $color-secondary;
      }
    }
    .count {
      position: relative;
      top: 1px;
      font-size: 14px;
    }
  }
  .bioList {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    @media screen and (min-width: 375px) {
      justify-content: center;
      gap: 22px;
    }
    @media screen and (min-width: 768px) {
      gap: 28px;
    }
  }
  .bioTitle {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: $color-secondary-dark;
    margin-bottom: 4px;
  }
  .bio {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    text-transform: capitalize;
  }
  .comment {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
    text-align: center;
  }
  .price {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
  }
  .bottom {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .category {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline;
    color: $color-secondary;
    background-color: $color-secondary-light;
    border-radius: 30px;
    padding: 8px 14px;
  }
  .add {
    position: relative;
    @extend %button;
    width: 160px;
    height: 48px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .iconSvg{
    position: relative;
    top: 2px
  }
  .contact {
    @extend %button;
    width: 160px;
    height: 48px;
    outline: none;
    border: none;
    cursor: pointer;
    color: $color-secondary;
    background-color: $color-secondary-light;
    transition: background-color 150ms ease;
    &:hover {
      background-color: $color-secondary-hover;
    }
  }
}
