<div class="tabsWrapper">
  <button
    type="button"
    class="tab"
    [ngClass]="{ active: tab === 'favorite' }"
    (click)="changeTab('favorite')"
  >
    My favorite pets
  </button>
  <button
    type="button"
    class="tab"
    [ngClass]="{ active: tab === 'viewed' }"
    (click)="changeTab('viewed')"
  >
    Viewed
  </button>
</div>
@if(tab === 'favorite'){ @if(user.noticesFavorites.length){
<ul></ul>
} @else{
<p class="empty">
  Oops, <span class="color">looks like there aren't any furries</span> on our
  adorable page yet. Do not worry! View your pets on the "find your favorite
  pet" page and add them to your favorites.
</p>
} } @else{
<ul class="cardList">
  @for(pet of user.noticesViewed; track pet._id){
  <app-pet-card [pet]="pet" place="viewed" [favorites$]="favorites$" [isLoggedIn]="true"/>
  }
</ul>
}
