@import "../../../styles/variables";
.tabsWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 1280px) {
    gap: 8px;
    margin-bottom: 32px;
  }
  .tab {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: $color-primary-dark;
    background-color: $color-light;
    border: none;
    outline: none;
    border-radius: 30px;
    width: 123px;
    height: 42px;
    padding: 0;
    cursor: pointer;
    transition: background-color 150ms linear;
    &:hover {
      background-color: $color-pag-disabled;
    }
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.25;
      width: 142px;
      height: 48px;
    }
  }
  .active {
    color: $color-light;
    background-color: $color-secondary;
    &:hover {
      background-color: $color-secondary-add;
    }
  }
}
.cardList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1280px) {
    gap: 24px;
  }
}
.empty {
  padding: 0px 25px;
  max-width: 458px;
  margin-top: 80px;
  margin-bottom: 140px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-top: 180px;
    margin-left: 103px;
  }
}
.color {
  color: $color-secondary;
}
