<section class="pets">
  <div class="container">
    <h2 class="title">Find your favorite pet</h2>
    <app-pet-filters (petFilters)="petFilters($event)" />
    @if(!pets.length && filters !== null){
    <p class="empty">There are no items found!</p>
    }@else{
    <ul class="cardList">
      @for(pet of pets; track pet._id){
      <app-pet-card
        [pet]="pet"
        place="findPage"
        [favorites$]="favorites$"
        [isLoggedIn]="isLoggedIn"
      />
      }
    </ul>
    }
    <app-pagination [data$]="PetData$" (newPage)="handlePage($event)" />
  </div>
</section>
