<div class="userHeader">
  <p class="label">
    User
    <svg-icon-sprite
      [src]="'images/sprite.svg#icon-user'"
      [width]="'18px'"
    ></svg-icon-sprite>
  </p>
  <div class="avatarWrapper">
    <div class="avatarSVG">
      <img
    class="img"
    [src]="user.avatar || 'images/userPicture.png'"
    alt="picture of a user"
  />
    </div>
    <input class="inputFile" type="file" id="uploadPhoto" (change)="setAvatar($event)"/>
    <label class="text" for="uploadPhoto">Upload photo</label>
  </div>
  <button type="button" class="editBtn" (click)="openModal()">
    <svg-icon-sprite
      [src]="'images/sprite.svg#icon-edit'"
      [width]="'16px'"
      [class]="'editImg'"
    ></svg-icon-sprite>
  </button>
</div>
<div class="information">
  <h3 class="title">My information</h3>
  <p class="bio">{{ user.name }}</p>
  <p class="bio">{{ user.email }}</p>
  @if(user.phone){
  <p class="bio">{{ user.phone }}</p>
  }@else{
  <p class="bio placeholder">+380</p>
  }
</div>
