@if(isOpen){
<div appCloseModal class="backdrop" (click)="closeModal()">
  <div class="modal" (click)="$event.stopPropagation()">
    <button type="button" class="close" (click)="closeModal()">
      <svg-icon-sprite
        [src]="'images/sprite.svg#icon-cross-small-converted'"
      ></svg-icon-sprite>
    </button>
    @if(type === 'petModal'){
    <app-pet-modal [card]="card" />
    } @else if(type === 'logoutModal'){
    <app-close-modal />
    } @else if (type === 'attention' || type === 'congrats'){
    <app-attention-modal [type]="type" />
    } @else if(type === 'profile'){
    <app-profile-modal [data]="data"/>
    }
  </div>
</div>
}
