@import "../styles/variables";
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  font-family: "manrope", sans-serif;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 500;
  color: $color-primary-dark;
  background-color: $color-back;
}
button {
  font-family: "manrope", sans-serif;
}
input {
  font-family: "manrope", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container {
  margin: 0 auto;
  padding: 0px 10px;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 375px) {
  .container {
    // width: 375px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.25;
  }
  .container {
    padding: 0px 32px;
    // width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
