$color-primary-dark: #262626;
$color-primary-transparent: rgba(38, 38, 38, 0.15);
$color-secondary-dark: rgba(38, 38, 38, 0.5);
$color-secondary: #f6b83d;
$color-secondary-add: #f9b020;
$color-secondary-light: #fff4df;
$color-secondary-hover: #fbe7c1;
$color-light: #ffffff;
$color-back: #f9f9f9;

$color-accent-light: rgba(255, 255, 255, 0.4);
