$color-primary-dark: #262626;
$color-primary-transparent: rgba(38, 38, 38, 0.15);
$color-secondary-dark: rgba(38, 38, 38, 0.5);
$color-thirdly-dark: rgba(38, 38, 38, 0.8);
$color-secondary: #f6b83d;
$color-secondary-add: #f9b020;
$color-secondary-light: #fff4df;
$color-secondary-hover: #fbe7c1;
$color-light: #ffffff;
$color-back: #f9f9f9;
$color-error: #ef2447;
$color-approve: #08aa83;
$color-accent-light: rgba(255, 255, 255, 0.4);
$color-pag: rgba(38, 38, 38, 0.2);
$color-pag-disabled: rgba(38, 38, 38, 0.05);
$color-female-back: rgba(244, 63, 94, 0.1);
$color-female-checked: rgba(244, 63, 94, 0.3);
$color-male-back: rgba(84, 173, 255, 0.1);
$color-male-checked: rgba(84, 173, 255, 0.3);
$color-male: rgba(84, 173, 255);
