<div
  class="mobileNav"
  [class.isOpen]="isOpen"
  (click)="click($event)"
  [ngClass]="{
    orange: path === '/' || path === 'login' || path === 'registration'
  }"
>
  <button
    type="button"
    class="closeBtn"
    [ngClass]="{
      orange: path === '/' || path === 'login' || path === 'registration'
    }"
  >
    <svg-icon-sprite
      [src]="'images/sprite.svg#icon-cross-small-converted'"
      class="svg"
    ></svg-icon-sprite>
  </button>
  <nav class="nav">
    <ul class="navLinkGrp">
      <li>
        <a
          routerLink="news"
          routerLinkActive="activeLink"
          class="navLink"
          [ngClass]="{
            orange: path === '/' || path === 'login' || path === 'registration'
          }"
          >News</a
        >
      </li>
      <li>
        <a
          routerLink="notices"
          routerLinkActive="activeLink"
          class="navLink"
          [ngClass]="{
            orange: path === '/' || path === 'login' || path === 'registration'
          }"
          >Find pet</a
        >
      </li>
      <li>
        <a
          routerLink="friends"
          routerLinkActive="activeLink"
          class="navLink"
          [ngClass]="{
            orange: path === '/' || path === 'login' || path === 'registration'
          }"
          >Our friends</a
        >
      </li>
    </ul>
    @if(isLogged){
    <app-user-nav place="mobileMenu" />
    }@else{
    <app-auth-nav [path]="path" place="mobileMenu" class="auth" />
    }
  </nav>
</div>
