<div class="mobileNav" [class.isOpen]="isOpen" (click)="click($event)">
  <button type="button" class="closeBtn"> <svg-icon-sprite
    [src]="'images/sprite.svg#icon-cross-small-converted'"
    class="svg"
  ></svg-icon-sprite></button>
  <nav>
    <ul class="navLinkGrp">
      <li>
        <a
          routerLink="news"
          routerLinkActive="activeLink"
          class="navLink"

          >News</a
        >
      </li>
      <li>
        <a
          routerLink="notices"
          routerLinkActive="activeLink"
          class="navLink"

          >Find pet</a
        >
      </li>
      <li>
        <a
          routerLink="friends"
          routerLinkActive="activeLink"
          class="navLink"

          >Our friends</a
        >
      </li>
    </ul>
    @if(isLogged){
    <app-user-nav place="mobileMenu" />
    }@else{

    <app-auth-nav [path]="path" place="mobileMenu"/>
    }
  </nav>
</div>
