@import "../../../styles/variables";
.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
  width: 100%;
  max-width: 450px;
  background-color: $color-back;
  height: 100%;
  padding-bottom: 50px;
  transform: translateX(100%);
  transition: transform 150ms ease-out;
  &.orange {
    background-color: $color-secondary;
  }
  &.isOpen {
    transform: translateX(0%);
  }
  .closeBtn {
    position: absolute;
    top: 34px;
    right: 35px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    color: $color-primary-dark;
    cursor: pointer;
    &.orange {
      color: $color-light;
    }
  }
  .svg {
    pointer-events: none;
  }
  .nav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .navLinkGrp {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .navLink {
    width: 125px;
    text-align: center;
    color: $color-primary-dark;
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid $color-primary-transparent;
  }
  .navLink.orange {
    color: $color-light;
    border: 1px solid $color-accent-light;
  }
  .activeLink {
    border-color: $color-secondary;
  }
  .auth {
    margin-top: auto;
  }
}
