<section class="news">
    <div class="container wrapper">
        <div class="titleWrapper">
            <h2 class="title">News</h2>
            <div class="serchWrapper">
                <input class="search" type="text" [(ngModel)]="searchValue" placeholder="Search">
                @if(searchValue !== ''){
                    <svg-icon-sprite
                [src]="'images/sprite.svg#icon-cross-small-converted'"
                [width]="'18px'"
                [class]="'imgClear'"
                (click)="clearInput()"
                ></svg-icon-sprite>
                }
                <svg-icon-sprite
                [src]="'images/sprite.svg#icon-search-conv'"
                [width]="'18px'"
                [class]="'imgSearch'"
                (click)="handleInput()"
                ></svg-icon-sprite>
            </div>
        </div>
        <ul class="list">
            @for(item of news; track item._id){
                <li class="item">
                    <img [src]="item.imgUrl" class="img" alt="news cover">
                    <h3 class="label">{{item.title}}</h3>
                    <p class="text">{{item.text}}</p>
                    <div class="itemBottom">
                        <p class="date">{{item.date | date: 'dd/MM/yyyy'}}</p>
                        <a [href]="item.url" class="link" target="_blank">Read more</a>
                    </div>
                </li>
            }
        </ul>
        <app-pagination [data$]="newsData$" (newPage)="handlePage($event)"/>
    </div>
</section>
