@import "../../../styles/variables";
.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-secondary;
  border-radius: 60px;
  padding-top: 119px;
  padding-bottom: 109px;
  margin-top: 16px;
}
.title {
  display: flex;
  margin: 0px auto 50px;
  font-size: 300px;
  font-weight: 800;
  line-height: 1;
  color: $color-light;
}
.img {
  height: 280px;
  width: 280px;
}
.text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  color: $color-light;
  text-align: center;
  margin-bottom: 20px;
}
.btn {
  font-family: "manrope", sans-serif;
  width: 162px;
  height: 48px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: $color-secondary-light;
  color: $color-secondary;
  margin: 0px auto;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  font-weight: 700;
  transition: background-color 150ms linear;
  cursor: pointer;
  &:hover {
    background-color: $color-secondary-hover;
  }
}
