@import '../../../styles/variables';
@import "../../../styles/buttons";

.pagination{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 88px;
    @media screen and (min-width: 375px) {
    gap: 11px;      
    }
    @media screen and (min-width: 768px) {
        gap: 24px;      
        }
}
.arrows{
    display: flex;
    gap: 4px;
    @media screen and (min-width: 375px) {
        gap: 6px;          
        }
        @media screen and (min-width: 768px) {
            gap: 8px;      
            }
}
.pages{
    display: flex;
    gap: 4px;
    @media screen and (min-width: 375px) {
        gap: 10px;           
        }
}
.btn{
    @extend %pagBtn;

    .arr{
        position: relative;
        top: 1px;
        color: $color-primary-dark;
    }
        .left{
            left: 8px
        }
        .right{
            right: 8px;
        }
    &.active{
        color: $color-light;
        background-color: $color-secondary;
        border: none;
    }
}
.btn[disabled]{
    border-color: $color-pag-disabled;
    color: $color-secondary-dark;
    cursor:not-allowed;
}