<li
  class="card"
  [ngClass]="{
    viewed: place === 'viewed' || place === 'favorites',
    findPage: place === 'findPage'
  }"
>
  <img
    class="img"
    [ngClass]="{
      viewed: place === 'viewed' || place === 'favorites',
      findPage: place === 'findPage'
    }"
    [src]="pet.imgURL"
    alt="pet photo"
  />
  <div class="titleWrapper">
    <h3 class="cardTitle">{{ pet.title }}</h3>
    <div class="starWrapper">
      <div class="star">
        <svg-icon-sprite
          [src]="'images/sprite.svg#icon-star'"
          [width]="'18px'"
        ></svg-icon-sprite>
      </div>
      <p class="count">{{ pet.popularity | rating }}</p>
    </div>
  </div>
  <ul
    class="dataList"
    [ngClass]="{
      viewed: place === 'viewed' || place === 'favorites',
    }"
  >
    <li>
      <p class="bioTitle">Name</p>
      <p class="bio">{{ pet.name }}</p>
    </li>
    <li>
      <p class="bioTitle">Birthday</p>
      <p class="bio">{{ pet.birthday | date : "dd.MM.yyyy" }}</p>
    </li>
    <li>
      <p class="bioTitle">Sex</p>
      <p class="bio">{{ pet.sex }}</p>
    </li>
    <li>
      <p class="bioTitle">Species</p>
      <p class="bio">{{ pet.species }}</p>
    </li>
    <li>
      <p class="bioTitle">Category</p>
      <p class="bio">{{ pet.category }}</p>
    </li>
  </ul>
  <p class="comment">{{ pet.comment }}</p>
  <p class="price">@if(pet.price){${{ pet.price }}} @else{FREE}</p>
  <div class="bottom">
    <button
      class="moreInfo"
      [class.viewed]="place === 'viewed'"
      type="button"
      (click)="openModal()"
    >
      Learn more
    </button>
    @if(place === 'findPage' || place === 'favorites'){
    <button class="heart" type="button" (click)="addToFav(pet._id)">
      @if(isFavorite){
      <svg-icon-sprite
        [src]="'images/sprite.svg#icon-trash'"
        [width]="'18px'"
      ></svg-icon-sprite>
      }@else{
      <svg-icon-sprite
        [src]="'images/sprite.svg#icon-heart'"
        [width]="'18px'"
      ></svg-icon-sprite>
      }
    </button>
    }
  </div>
</li>
