@import "../../../styles/variables";
@import "../../../styles/buttons";

.card {
  display: flex;
  flex-direction: column;

  background-color: $color-light;
  border-radius: 16px;
  @media screen and (max-width: 374px) {
    width: 100%;
    padding: 24px 12px;
    height: 454px;
  }
  @media screen and (min-width: 375px) and (max-width: 768px) {
    width: 335px;
    height: 454px;
    padding: 24px;
  }
  &.findPage {
    @media screen and (min-width: 768px) {
      width: 342px;
      height: 472px;
      padding: 24px;
    }
    @media screen and (min-width: 1280px) {
      width: 363px;
    }
  }
  &.viewed {
    @media screen and (min-width: 768px) {
      width: 342px;
      height: 422px;
      padding: 14px;
    }
    @media screen and (min-width: 1280px) {
      width: 320px;
    }
  }
  .cardTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 1.33;
    }
  }
  .img {
    width: 100%;
    object-position: center -50px;
    border-radius: 16px;
    &.findPage {
      height: 178px;
      margin-bottom: 24px;
    }
    &.viewed {
      height: 178px;
      margin-bottom: 24px;
      @media screen and (min-width: 768px) {
        height: 162px;
        margin-bottom: 14px;
      }
    }
  }
  .dataList {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
      gap: 16px;
    }
    @media screen and (min-width: 1280px) {
      gap: 20px;
    }
  }
  .bioTitle {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: $color-secondary-dark;
    margin-bottom: 2px;
  }
  .bio {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    text-transform: capitalize;
  }
  .comment {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
  }
  .price {
    margin-top: auto;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 1.33;
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .moreInfo {
    @extend %button;
    font-size: 14px;
    line-height: 1.28;
    font-weight: 500;
    letter-spacing: -0.03em;
    width: 100%;
    height: 46px;
    outline: none;
    border: none;
    cursor: pointer;
    &.viewed {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.25;
      height: 48px;
    }
  }
  .heart {
    flex-shrink: 0;
    padding-top: 4px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: $color-secondary-light;
    color: $color-secondary;
    transition: background-color 150ms linear;
    &:hover {
      background-color: $color-secondary-hover;
    }
    @media screen and (min-width: 768px) {
      width: 48px;
      height: 48px;
    }
  }
}
