<li class="card">
  <img class="img" [src]="pet.imgURL" alt="pet photo" />
  <div>
    <h3 class="cardTitle">{{ pet.title }}</h3>
  </div>
  <ul class="dataList">
    <li>
      <p class="bioTitle">Name</p>
      <p class="bio">{{ pet.name }}</p>
    </li>
    <li>
      <p class="bioTitle">Birthday</p>
      <p class="bio">{{ pet.birthday | date : "dd.MM.yyyy" }}</p>
    </li>
    <li>
      <p class="bioTitle">Sex</p>
      <p class="bio">{{ pet.sex }}</p>
    </li>
    <li>
      <p class="bioTitle">Species</p>
      <p class="bio">{{ pet.species }}</p>
    </li>
    <li>
      <p class="bioTitle">Category</p>
      <p class="bio">{{ pet.category }}</p>
    </li>
  </ul>
  <p class="comment">{{ pet.comment }}</p>
  <p class="price">@if(pet.price){${{ pet.price }}} @else{FREE}</p>
  <div class="bottom">
    <button class="moreInfo" type="button" (click)="openModal()">
      Learn more
    </button>
    <button class="heart" type="button" (click)="addToFav()">
      <svg-icon-sprite
        [src]="'images/sprite.svg#icon-heart'"
        [width]="'18px'"
      ></svg-icon-sprite>
    </button>
  </div>
</li>
