@import "../../../styles/variables";
@import "../../../styles/buttons";

.card {
  display: flex;
  flex-direction: column;
  width: 363px;
  height: 472px;
  padding: 24px;
  background-color: $color-light;
  border-radius: 16px;
  .cardTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 8px;
  }
  .img {
    height: 178px;
    width: 100%;
    object-position: center -50px;
    border-radius: 16px;
    margin-bottom: 24px;
  }
  .dataList {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
  }
  .bioTitle {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: $color-secondary-dark;
    margin-bottom: 2px;
  }
  .bio {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    text-transform: capitalize;
  }
  .comment {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
  }
  .price {
    margin-top: auto;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
  }
  .moreInfo {
    @extend %button;
    width: 257px;
    height: 48px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .heart {
    padding-top: 4px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: $color-secondary-light;
    color: $color-secondary;
  }
}
