@import "../../../styles/variables";
@import "../../../styles/buttons";

.wrapper {
  display: flex;
  gap: 32px;
  margin-top: 114px;
}
.cardWrapper {
  flex-shrink: 0;
  width: 592px;
  height: 654px;
  border-radius: 60px;
  background-image: url("../../../../public/images/regCat.jpg");

  .card {
    display: flex;
    gap: 8px;
    width: 294px;
    height: 121px;
    background-color: $color-light;
    border-radius: 20px;
    padding: 16px;
    margin-top: 436px;
    margin-left: 61px;
    .img {
      height: 60px;
      width: 60px;
    }
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 3px;
      margin-bottom: 8px;
    }
    .name {
      font-size: 16px;
      line-height: 1.25;
      font-weight: 700;
      letter-spacing: -0.03em;
      color: $color-secondary;
    }
    .birth,
    .text {
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: -0.02em;
    }
    .color {
      color: $color-secondary-dark;
    }
    .text {
      color: $color-thirdly-dark;
    }
  }
}
.formWrapper {
  flex-shrink: 0;
  width: 592px;
  height: 654px;
  background-color: $color-light;
  border-radius: 60px;
  overflow: hidden;
  padding: 77px 84px;
  .title {
    font-size: 54px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin-bottom: 16px;
  }
  .textUpper {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
    .input {
      width: 100%;
      height: 52px;
      border-radius: 30px;
      border: 1px solid $color-primary-transparent;
      padding: 16px;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 500;
      letter-spacing: -0.03em;
      outline: none;
      &::placeholder {
        color: $color-secondary-dark;
      }
      &:focus {
        border-color: $color-secondary;
      }
    }
    .input.error{
      border-color: $color-error;
    }
    .input.approve{
      border-color: $color-approve
    }
    .svgError{
      position: absolute;
      top: 14px;
      right: 16px;
      color: $color-error;
    }
    .inputWrapper {
      position: relative;
      .eye {
        position: absolute;
        top: 14px;
        right: 18px;
        color: $color-secondary;
      }
    }
    .textError{
      position: absolute;
      top: -14px;
      left: 10px;
      font-size: 12px;
      line-height: 1.16;
      color: $color-error;
    }
    .textApprove{
      position: absolute;
      top: -14px;
      left: 10px;
      font-size: 12px;
      line-height: 1.16;
      color: $color-approve;
    }
    .submitBtn {
      @extend %button;
      height: 52px;
      margin-top: 16px;
      border: none;
      cursor: pointer;
    }
    .submitBtn[disabled]{
      // color: $color-secondary;
      // background-color: $color-secondary-light;
      cursor: not-allowed;
    }
  }
  .textLower {
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: -0.03em;
    color: $color-secondary-dark;
    text-align: center;
  }
  .redirect {
    color: $color-secondary;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 150ms ease;
    &:hover {
      color: $color-secondary-add;
    }
  }
}
