<section>
  <div class="container">
    <div class="wrapper">
      <div class="cardWrapper">
        <div class="card">
          <img src="images/avatarCat.jpg" class="img" alt="cat" />
          <div>
            <div class="title">
              <h2 class="name">Jack</h2>
              <p class="birth">
                <span class="color">Birthday:</span> 18.10.2021
              </p>
            </div>
            <p class="text">
              Jack is a gray Persian cat with green eyes. He loves to be
              pampered and groomed, and enjoys playing with toys.
            </p>
          </div>
        </div>
      </div>
      <div class="formWrapper">
        <h2 class="title">Registration</h2>
        <p class="textUpper">Thank you for your interest in our platform.</p>
        <form [formGroup]="regForm" (ngSubmit)="onSubmit()" class="form">
          <div class="inputWrapper">
            @if(name && name.invalid){
            <p class="textError">{{ errors.name }}</p>
            } @if(errors.name){
            <div class="svgError">
              <svg-icon-sprite
                [src]="'images/sprite.svg#icon-cross-small-converted'"
                [width]="'22px'"
              ></svg-icon-sprite>
            </div>
            }
            <input
              type="text"
              formControlName="name"
              placeholder="Name"
              class="input"
              [ngClass]="errors.name ? 'error' : ''"
              (blur)="updErrorMsg('name')"
            />
          </div>
          <div class="inputWrapper">
            @if(email && email.invalid){
            <p class="textError">{{ errors.email }}</p>
            } @if(errors.email){
            <div class="svgError">
              <svg-icon-sprite
                [src]="'images/sprite.svg#icon-cross-small-converted'"
                [width]="'22px'"
              ></svg-icon-sprite>
            </div>
            }
            <input
              type="email"
              formControlName="email"
              placeholder="Email"
              class="input"
              [ngClass]="errors.email ? 'error' : ''"
              (blur)="updErrorMsg('email')"
            />
          </div>
          <div class="inputWrapper">
            @if(password && password.invalid){
            <p class="textError">{{ errors.password }}</p>
            } @if(password.value?.length > 7){
            <p class="textApprove">Password is secure</p>
            }
            <div class="eye" (click)="handleShown('pass')">
              @if(isShown.pass){
              <svg-icon-sprite
                [src]="'images/sprite.svg#icon-eye-on'"
                [width]="'22px'"
              ></svg-icon-sprite>
              }@else{
              <svg-icon-sprite
                [src]="'images/sprite.svg#icon-eye-off'"
                [width]="'22px'"
              ></svg-icon-sprite>
              }
            </div>
            <input
              type="{{ isShown.pass ? 'text' : 'password' }}"
              formControlName="password"
              placeholder="Password"
              class="input"
              [ngClass]="{
                error: errors.password,
                approve: password.value?.length > 7
              }"
              (blur)="updErrorMsg('password')"
            />
          </div>
          <div class="inputWrapper">
            @if(errors.confirm){
            <p class="textError">{{ errors.confirm }}</p>
            } @if( confirm.value!== null && confirm.value !== '' &&
            password.value === confirm.value){
            <p class="textApprove">Passwords match</p>
            }
            <div class="eye" (click)="handleShown('confirm')">
              @if(isShown.confirm){
              <svg-icon-sprite
                [src]="'images/sprite.svg#icon-eye-on'"
                [width]="'22px'"
              ></svg-icon-sprite>
              }@else{
              <svg-icon-sprite
                [src]="'images/sprite.svg#icon-eye-off'"
                [width]="'22px'"
              ></svg-icon-sprite>
              }
            </div>
            <input
              type="{{ isShown.confirm ? 'text' : 'password' }}"
              formControlName="confirm"
              placeholder="Confirm Password"
              class="input"
              [ngClass]="{
                error: errors.confirm,
                approve:
                  confirm.value !== null &&
                  confirm.value !== '' &&
                  password.value === confirm.value
              }"
              (blur)="updErrorMsg('confirm')"
            />
          </div>
          @if(error.message !== '' && error.type === 'registration'){
          <p class="errorAuth">*{{ error.message }}</p>
          }

          <button
            type="submit"
            class="submitBtn"
            [disabled]="
              !regForm.valid || !regForm.dirty || errors.confirm !== ''
            "
          >
            REGISTRATION
          </button>
        </form>

        <p class="textLower">
          Already have an account?
          <button type="button" (click)="redirect()" class="redirect">
            Login
          </button>
        </p>
      </div>
      @if(error.message !== '' && error.type === 'registration'){
      <p>*{{ error.message }}</p>
      }
    </div>
  </div>
</section>
