<section class="filters">
  <div class="upper">
    <div class="btnWrapper query">
      <input
        class="input"
        type="text"
        [(ngModel)]="query"
        placeholder="Search"
      />
      @if(query !== ''){
      <svg-icon-sprite
        [src]="'images/sprite.svg#icon-cross-small-converted'"
        [width]="'18px'"
        [class]="'imgClear'"
        (click)="query = ''"
      ></svg-icon-sprite>
      }
      <svg-icon-sprite
        [src]="'images/sprite.svg#icon-search-conv'"
        [width]="'18px'"
        [class]="'imgSearch'"
        (click)="handleInput(inputTypes.Query)"
      ></svg-icon-sprite>
    </div>
    <div class="btnWrapper">
      <svg-icon-sprite
        [src]="'images/sprite.svg#icon-arrow-left'"
        [class]="'imgChevron'"
      [class.down]="chevrons.category"
      ></svg-icon-sprite>
      <ng-select
      class="category"
      [(ngModel)]="category"
      (change)="selectCategory(selectorTypes.Category)"
      [clearable]="false"
      placeholder="Category"
      [fixedPlaceholder]="false"
      [searchable]="false"
      (open)="handleChevron(selectorTypes.Category)"
      (close)="handleChevron(selectorTypes.Category)"
      >
      <ng-option value="">Show All</ng-option>
      @for(category of categories$ | async; track category){
        <ng-option [value]="category">{{ category | capitalize }}</ng-option>
      }
    </ng-select>
  </div>
    <!-- <select
      class="category"
      [(ngModel)]="category"
      (ngModelChange)="selectCategory(selectorTypes.Category)"
    >
      @if(category === ''){
      <option value="" selected disabled>Category</option>
      } @for(category of categories$ | async; track category){
      <option [value]="category">{{ category }}</option>
      }
    </select> -->
    <div class="btnWrapper">
      <svg-icon-sprite
      [src]="'images/sprite.svg#icon-arrow-left'"
      [class]="'imgChevron'"
      [class.down]="chevrons.gender"
    ></svg-icon-sprite>
      <ng-select
      class="gender"
      [(ngModel)]="gender"
      (change)="selectCategory(selectorTypes.Gender)"
      [clearable]="false"
      placeholder="By gender"
      [fixedPlaceholder]="false"
      [searchable]="false"
      (open)="handleChevron(selectorTypes.Gender)"
      (close)="handleChevron(selectorTypes.Gender)"
      >
      <ng-option value="">Show All</ng-option>
      @for(gender of gender$ | async; track gender){
        <ng-option [value]="gender">{{ gender | capitalize }}</ng-option>
      }
    </ng-select>
  </div>
    <!-- <select
      class="gender"
      [(ngModel)]="gender"
      (ngModelChange)="selectCategory(selectorTypes.Gender)"
    >
      @if(gender === ''){
      <option value="" selected disabled>By gender</option>
      } @for(gender of gender$ | async; track gender){
      <option [value]="gender">{{ gender }}</option>
      }
    </select> -->
    <div class="btnWrapper">
      <svg-icon-sprite
      [src]="'images/sprite.svg#icon-arrow-left'"
      [class]="'imgChevron'"
      [class.down]="chevrons.type"
    ></svg-icon-sprite>
      <ng-select
      class="type"
      [(ngModel)]="type"
      (change)="selectCategory(selectorTypes.Type)"
      [clearable]="false"
      placeholder="By type"
      [fixedPlaceholder]="false"
      [searchable]="false"
      (open)="handleChevron(selectorTypes.Type)"
      (close)="handleChevron(selectorTypes.Type)"
    >
    <ng-option value="">Show All</ng-option>
      @for(type of type$ | async; track type){
        <ng-option [value]="type">{{ type | capitalize }}</ng-option>
      }
    </ng-select>
  </div>
    <!-- <select
      class="type"
      [(ngModel)]="type"
      (ngModelChange)="selectCategory(selectorTypes.Type)"
    >
      @if(type === ''){
      <option value="" selected disabled>By type</option>
      } @for(type of type$ | async; track type){
      <option [value]="type">{{ type }}</option>
      }
    </select> -->
    <!-- <div class="btnWrapper location">
      <input
        class="input"
        type="text"
        [(ngModel)]="location"
        placeholder="Location"
      />
      @if(location !== ''){
      <svg-icon-sprite
        [src]="'images/sprite.svg#icon-cross-small-converted'"
        [width]="'18px'"
        [class]="'imgClear'"
        (click)="location = ''"
      ></svg-icon-sprite>
      }
      <svg-icon-sprite
        [src]="'images/sprite.svg#icon-search-conv'"
        [width]="'18px'"
        [class]="'imgSearch'"
        (click)="handleInput(inputTypes.Location)"
      ></svg-icon-sprite>
    </div> -->
    <div class="btnWrapper location">
      <svg-icon-sprite
        [src]="'images/sprite.svg#icon-search-conv'"
        [width]="'18px'"
        [class]="'imgSearch'"
        (click)="handleInput(inputTypes.Location)"
      ></svg-icon-sprite>
      @if(locationQuery){
        <svg-icon-sprite
          [src]="'images/sprite.svg#icon-cross-small-converted'"
          [width]="'18px'"
          [class]="'imgClear'"
          (click)="locationQuery = ''"
        ></svg-icon-sprite>
        }
      <ng-select
      class="input"
      [(ngModel)]="locationQuery"
      (change)="handleInput(inputTypes.Location)"
      placeholder="Location"
      [fixedPlaceholder]="false"
    >
      @for(location of locations$ | async; track location._id){
        <ng-option [value]="location._id">{{ location.stateEn }}, {{location.cityEn}}</ng-option>
      }
    </ng-select>
  </div>
  </div>
  <div class="divider"></div>
  <div class="lower">
    <input class="radioInput" type="radio" name="sort" id="popular" />
    <label class="radio" for="popular">Popular</label>
    <input class="radioInput" type="radio" name="sort" id="unpopular" />
    <label class="radio" for="unpopular">Unpopular</label>
    <input class="radioInput" type="radio" name="sort" id="cheap" />
    <label class="radio" for="cheap">Cheap</label>
    <input class="radioInput" type="radio" name="sort" id="expensive" />
    <label class="radio" for="expensive">Expensive</label>
  </div>
</section>
