<div class="auth">
  <button
    type="button"
    (click)="handleLogout()"
    class="logout"
    [ngClass]="{
      home: path === '/',
      header: place === 'header',
      mobile: place === 'mobileMenu'
    }"
  >
    LOG OUT
  </button>
  @if(place === 'header'){

  <div class="user" (click)="goToProfile()">
    <img
      class="img"
      [src]="avatar || 'images/user.png'"
      alt="picture of a user"
    />
    <p class="name" [class.home]="path === '/'">{{ userName }}</p>
  </div>
  }
</div>
